
@{
    ViewBag.Title = "PrivacyPolicy";
}


<div style="margin-top: 30px; text-align: center" class="">
    <h2>Privacy Policy</h2>
    <hr>
</div>


<div class="content">
    <p>
        This Privacy Policy applies to the websites <strong>drugsbooks.com</strong>.
        This Privacy Policy describes how we may collect, use and disclose
        information about users of the Services. The "Services" for purposes
        of this Privacy Policy means the Sites, the Apps and all information and services
        provided to you in connection with your use of the Sites and Apps including, without limitation,
        reference content, advertising, email communications,
        continuing medical education and discussion boards. We may share information collected under this
        Privacy Policy among the respective Sites and Apps that we each own or control,
        but information collected under this Privacy Policy is always protected under the terms of this
        Privacy Policy.
    </p>

    <p style="margin-top: 40px">
        <h4><strong>How We May Use Your Information</strong></h4>
        In this section of our Privacy Policy, we discuss how we may use the Personal Information
        and Non-Personal Information that we collect about you.
    </p>

    <p>
        <strong>Communications</strong> By registering for the Services, you are consenting to receive certain communications.
        Specifically, we may use your
        registration information to send you communications about our products and services and the products and services of
        our third party sponsors through pop-ups, banners and emails. You may also subscribe to receive certain email newsletters
        sent to registered users from time to time which you may manage through the newsletter subscriptions area within your account
        settings.
    </p>

    <p>
        <strong>Member Profiles</strong>. As described above, we use web beacons and cookies to track your use of the Services,
        including content consumption, and may associate this information with other information that we have about you,
        including Personal Information, thereby creating a profile of you that we may update from time to time ("Member Profile").
    </p>

    <p>
        <strong>Research, Development and Evaluation Activities</strong>. We use information that we collect about users of our Services,
        including Personal Information, to evaluate and improve the effectiveness of the Services
        (including advertising and Sponsored Programs), to develop new Services and for market analysis.
        We may combine this information with information that we obtain from third parties.
    </p>

    <p>
        <strong>Account Management</strong>. We may use your account information to administer your account,
        respond to your inquiries you send to us and to send you administrative communications about the Services.
    </p>



    <p style="margin-top: 40px">
        <h4><strong>Security of Information</strong></h4>
        We have implemented technology and security policies and other measures to protect the personal data that we have
        under our control from unauthorized access, improper use, alteration, unlawful or accidental destruction,
        and accidental loss. We also require that all of our employees and others who have access to or are associated with the
        processing of your data respect your confidentiality.
        We use security methods to determine the identity of registered users, so that appropriate rights and restrictions
        can be enforced for that user. Reliable verification of user identity is called authentication.
        We use both passwords and usernames to authenticate users. Users are responsible for maintaining the security of
        their <strong>Drugsbooks.com</strong> login credentials.
    </p>

    <p style="margin-top: 40px">
        <h4><strong>Children's Privacy</strong></h4>
        <strong>Drugsbooks.com</strong> Network and the Services are designed and intended for use by adults, and are not intended for
        nor designed to be used by children under the age of 18. We do not collect Personal Information from any person
        we know is under the age of 18.
    </p>


    <p style="margin-top: 40px">
        <h4><strong>Privacy Questions or Concerns</strong></h4>
        We reserve the right to modify this Privacy Policy at any time and any changes will be effective upon posting
        of the modified Policy unless we advise otherwise. If we make any material changes to this Policy we will notify you by email.
    </p>
    <p>
        For privacy questions or concerns about one of our Web sites or Services, please contact with us @Html.ActionLink("Here", "Create", "Contact").
    </p>


</div>